/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  height: 100vh;
  width: 100%;
  background:#093c43;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

}

h1{
  color:white;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 3rem;
  padding: 0 2vw;
}

html{
  font-size: 62.5%;
  color: black;
}
/******************************************
/* LAYOUT
/*******************************************/


h1, h2, h3, p{
  text-align: center;
}

#mainContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr)); /* 10 cards */
  justify-content: center;
  padding: 0 2vw;
}
.boxTemplate {
  text-align: center;
  border: .1rem solid black;
  height: 16rem;
  font-size: 1.6rem;
  border-radius: 5px;
  margin: .05rem;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 1fr;
}
.boxTemplate p {
  font-size: clamp(1.8rem, 1.8vw, 3rem);
}


.yellow {
  background-color: #edff00;
}


.purple{
  background-color: #e60af5;
}

.skyBlue{
  background-color: #0ef1d6;
}


.lightPink{
  background-color: #fcaab4;

}

.lightPurple{
  background-color: #f985bb;
}

.darkPink{
  background-color: #ff4167;
}

.lightGreen{
  background-color: #59ff5b;
}

.darkGreen{
  background-color: #00c503;
}

.red{
  background-color: #ff1801;
}

.white{
  background-color: white;
}

/*------------------images----------------------*/
img{
  height: 5rem;
  width: auto;
}


/*-------typing input container and style----*/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*--------keyboard input area styling----------*/
.customInputWrapper, #iSaid {
  display: flex;
  color: black;
  flex-direction: column;
  text-align: center;
}
.customInputWrapper {
  margin-top: 3rem;
}
#customInputLabel {
  color: white;
  font-size: 4rem;
}
#keyboard {
  margin: 1rem auto;
  height: 4rem;
  width: 35%;
  text-align: center;
  font-size: 1.6rem;
}
#keyboard::placeholder {
  text-align: center;
  font-size: 1.6rem;
  color: #555;
}
#submitText, #addBtn{
  color: white;
  background: black;
  padding: 1rem;
  width: 10%;
  height: 3rem;
  margin: 0 auto 2rem auto;
  border: none;
}
#submitText:hover {
  cursor: pointer;
}



/******************************************
/* ADDITIONAL STYLES
/********************************************/
@media screen and (max-width: 1000px){
  #mainContainer{
    grid-template-columns: repeat(auto-fill, minmax(14%, 1fr)); /* 7 cards */
  }
  .boxTemplate{
    height: 13rem;
  }
  .boxTemplate p {
    font-size: clamp(2rem, 2.5vw, 3rem);
  }
}
@media screen and (max-width: 800px){
      #mainContainer{
        grid-template-columns: repeat(auto-fill, minmax(15%, 1fr)); /* 6 cards */
      }
      .boxTemplate{
        height: 10rem;
      }
      img {
        height: 3.5rem;
        width: auto;
      }
      p {
        font-size: clamp(1.8rem, 2.5vw, 3rem);
      }
      #customInputLabel{
        font-size: 3rem;
      }
      #keyboard {
        width: 45%;
      }
    }
    @media screen and (max-width: 600px) {
      #mainContainer{
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); /* 5 cards */
      }
      .boxTemplate p {
        font-size: clamp(1.5rem, 3.5vw, 3rem);
      }
      #keyboard {
        width: 60%;
      }
      #submitText {
        width: 20%;
      }
    }
    @media screen and (max-width: 400px) {
      body {
        width: 100%;
      }
      #mainContainer{
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr)); /* 4 cards */
      }
      .boxTemplate p {
        font-size: clamp(1.25rem, 4.5vw, 2.5rem);
      }
      #keyboard {
        width: 80%;
      }
    }
    @media screen and (max-width: 300px) {
      #mainContainer{
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr)); /* 2 cards */
      }
      .boxTemplate p {
        font-size: clamp(1rem, 8vw, 2.5rem);
      }
    }