/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  height: 100vh;
  width: 100%;
  background:#093c43;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  
}

h1{
  color:white;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 3rem;
}

html{
  font-size: 62.5%;
  color: black;
}
/******************************************
/* LAYOUT
/*******************************************/


h1, h2, h3, p{
  text-align: center;
}
p {
  font-size: 2rem;
}

#mainContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.boxTemplate {
  text-align: center;
  border: .1rem solid black;
  flex-basis: 10%;
  height: 16rem;
  font-size: 1.6rem;
  border-radius: 5px;
  margin: .05rem;
}


.yellow {
  background-color: #edff00;
}


.purple{
  background-color: #e60af5;
}

.skyBlue{
  background-color: #0ef1d6;
}


.lightPink{
  background-color: #fcaab4;
  
}

.lightPurple{
  background-color: #f985bb;
}

.darkPink{
  background-color: #ff4167;
}

.lightGreen{
  background-color: #59ff5b;
}

.darkGreen{
  background-color: #00c503;
}

.red{
  background-color: #ff1801;
}

.white{
  background-color: white;
}

/*------------------images----------------------*/
img{
  height: 5rem;
  width: auto;
}

/*-------typing input container and style----*/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*--------keyboard input area styling----------*/
.customInputWrapper, #iSaid {
  display: flex;
  color: black;
  flex-direction: column;
  text-align: center;
}
.customInputWrapper {
  margin-top: 3rem;
}
#customInputLabel {
  color: white;
  font-size: 4rem;
}
#keyboard {
  margin: 1rem auto;
  height: 4rem;
  width: 35%;
  text-align: center;
  font-size: 1.6rem;
}
#keyboard::placeholder {
  text-align: center;
  font-size: 1.6rem;
  color: #555;
}
#submitText, #addBtn{
  color: white;
  background: black;
  padding: 1rem;
  width: 10%;
  height: 3rem;
  margin: 0 auto 2rem auto;
}
#submitText:hover {
  cursor: pointer;
}



/******************************************
/* ADDITIONAL STYLES   
/********************************************/


@media screen and (max-width: 800px){
      .boxTemplate{
        height: 10rem;
      }
      img {
        height: 3.5rem;
        width: auto;
      }
      p {
        font-size: 2rem;
      }
      #customInputLabel{
        font-size: 3rem;
      }
      #keyboard {
        width: 45%;
      }
    }
    @media screen and (max-width: 600px) {
      .boxTemplate {
        flex-basis: 15%;
      }
      #keyboard {
        width: 60%;
      }
      #submitText {
        width: 20%;
      }
    }
    @media screen and (max-width: 400px) {
      body {
        width: 100%;
      }
      #mainContainer{
        justify-content: space-around;
      }
      .boxTemplate {
        flex-basis: 23%;
      }
      #keyboard {
        width: 80%;
      }
}
