.modal {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.formWrapper {
    border-radius: 0.5rem;
}

.button {
    background: var(--accent-1);
    color: var(--accent-2);
    padding: 0.5em;
    border-radius: 0.5em;
    height: 2.5em;
    font-weight: 600;
    transition: background 0.25s linear, color 0.25s linear, border-color 0.25s linear;
    border: 0.15em solid transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover, .button:focus, .button:active {
    background: var(--secondary);
    color: var(--primary);
    border-color: var(--primary-translucent);
}

.textInput {
    box-sizing: border-box !important;
    padding: 0.5rem !important;
    border-bottom: revert !important;
    margin-block: 0.5rem !important;
    border: 0.15em solid var(--primary-translucent) !important;
    border-radius: 0.5em !important;
    display: block !important;
}

.textInput:focus {
    box-shadow: none !important;
    border-color: var(--accent-1) !important;
}

.formLabel {
    color: var(--primary);
    font-size: 1.25em;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    margin-block: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 600;
}

.modalDescriptionText {
    margin-block: 0.5rem;
    font-weight: 600;
    flex: 1;
    column-gap: 0.5rem;
    padding-inline: 0.25rem;
    align-items: center;
}

.modalDescription {
    display: flex;
    text-align: left;
}

.closeButton {
    width: revert;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
}